<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AWSPoolId</key>
	<string>us-east-1:4d930ef9-d523-47a7-9c83-38df908ad21e</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIMainStoryboardFile</key>
	<string>Navigation</string>
</dict>
</plist>
